.nav-banner
  display: block
  background: $tertiary-pop
  color: $white
  padding: ms(1)
  font-weight: 600
  text-align: center
  &.active-banner
    display: none

.banner
  display: flex
  justify-content: space-around
  flex-direction: column
  align-items: left
  background: $tertiary-pop
  color: $white
  padding: ms(0)
  font-weight: 600
  img
    margin: 0 auto 1rem auto
    +target(md)
      margin-bottom: 0
  &.active-banner
    display: none
  *
    color: $white
  +target(md)
    flex-direction: row
    img
      margin-bottom: 0
