.app
  background: $gray-bg
  height: 100%
  min-height: 100vh
a
  text-decoration: none
  &:hover
    cursor: pointer
.relative
  position: relative

.w-100
  width: 100%

.m-height-100
  min-height: 100%

.flex
  display: flex
  &.middle
    align-items: center
  &.top
    align-items: start
  &.bottom
    align-items: end
  &.between
    justify-content: space-between
  &.around
    justify-content: space-around
