.footer
  img.logo
    max-width: ms(7)
    margin-left: auto
    margin-right: auto
  a
    display: block !important
    margin-bottom: ms(0) !important
    transition: all 300ms
    &:hover
      text-decoration: underline
  img.medstar
    max-width: 200px
