header
  background: $primary-pop
  padding: ms(0) 0
  img.logo
    max-width: ms(11)
  img.medstar
    width: 100%
  nav
    a
      color: $white
      opacity: 0.8
      margin-bottom: 0
      margin-left: ms(0)
      border-bottom: 2px solid transparent
      transition: all 300ms
      &:hover
        border-bottom: 2px solid $white
      &:first-child
        margin-left: 0
      &.active
        opacity: 1
        font-weight: 700
