header
  background: $primary-pop
  padding: ms(2) 0
  h6
    color: $white
  nav
    a
      color: $white
      opacity: 0.8
      margin-bottom: 0
      margin-left: ms(0)
      &.active
        opacity: 1
        font-weight: 700
