.map
  display: block
  position: relative
  height: ms(10)
  width: 100%
  overflow: hidden
  min-height: ms(15)

.office-locaitons
  padding-bottom: ms(4)

.map-location
  margin-top: ms(2)
  &:hover
    cursor: pointer
  img
    margin-right: ms(0)

.mapboxgl-popup
  padding: 0 !important
  background: transparent !important
  border: transparent !important
  top: -20px !important
  max-width: ms(12) !important
