.resources
  .block
    display: block
    margin-bottom: ms(0)
  a.resource-link
    border-bottom: 2px solid transparent
    transition: 300ms
    &:hover
      border-bottom: 2px solid $primary-pop
